.button {
    display: inline-block;
    padding: 18px 24px;

    font-size: inherit;
    font-family: 'Bebas Neue', sans-serif;

    border-radius: 10px;
    cursor: pointer;
}

.button,
.button svg,
.button:hover svg {
    transition: transform 0.3s, fill 0.3s, background-color 0.3s, color 0.3s;
}

.button svg {    
    fill: var(--dark20);
}

.button:hover svg {
    transform: rotate(45deg) translate(3px, -1px);
}

.iconWrapper {
    margin-left: 10px;
}

.ghost {
    color: var(--gray60);

    background-color: transparent;
    border: 1px solid var(--dark00);
}

.ghost:hover {
    color: var(--white);

    background-color: var(--gray60);
}

.ghost svg {
    fill: var(--gray60)
}

.ghost:hover svg {
    fill: var(--white);
}

.primary, .primaryCircle {
    color: var(--dark20);

    background-color: var(--primary);
    border: none;
}

.primary:hover ,.primaryCircle:hover {
    background-color: var(--primary-hover);
}

.primaryCircle {
    padding: 18px;

    border-radius: 50%;
}

.primaryCircle svg {
    display: block;
}