.container {
    display: grid;
    grid-template-areas: 
        'header header header header'
        '. sidebar main .'
        'footer footer footer footer';
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto minmax(150px, 320px) minmax(320px, 1920px) auto;
    
    min-height: 100vh;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

@media (max-width: 470px) {
    .sidebar {
        display: none;
    }
    .container {
        grid-template-areas: 
            'header'
            'main'
            'footer';
        grid-template-columns: minmax(320px, 1fr);
    }
}