.list {
    padding: 20px 15px 5px;
    
    list-style: none;
}

.link {
    display: block;
}

.link.active {
    color: var(--primary);
}

.third-level {
    max-height: 0;
    overflow: hidden;
    
    opacity: 0;

    transition: max-height 2s ease, opacity 2s ease;
}

.third-level-opened {
    max-height: 1000px;
    
    opacity: 1;
}
