.list {
    padding: 20px 15px;
    
    list-style: none;
}

.link {
    display: flex;
    align-items: center;

    padding: 14px 24px 14px 10px;

    background: var(--dark20);
    border: 1px solid var(--dark00);
    border-radius: 10px;
}

.link.active,
.link:hover {
    color: var(--primary);
}

.list li + li {
    margin-top: 10px;
}

.list svg {
    margin-right: 8px;

    stroke: var(--primary);
}

