.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--font-gilory-semibold);
}

.h1 {
    font-size: 70px;
}

.h2 {
    font-size: 58px;
}

.h3 {
    font-size: 40px;
}

.h4 { 
    font-size: 24px;
}

.h5 {
    font-size: 26px;
}

.h6 {
    font-size: 20px;
}