.list {
    margin: 18px 0px 18px 20px;
    padding-left: 20px;
    
    list-style: none;

    border-left: 1px solid var(--primary-thin);
}

.link {
    display: block;

    color: var(--primary-thin);
    font-weight: 400;
    font-size: 16px;

    letter-spacing: 3.5px;
    text-transform: uppercase;

    cursor: pointer;
}

.second-level-li + .second-level-li {
    margin-top: 15px;
}

.third-level {
    max-height: 0;
    overflow: hidden;
    
    opacity: 0;

    transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
}

.third-level-opened {
    max-height: 1000px;
    
    opacity: 1;
}

