html,
body {
	color: var(--gray40);
	font-size: 18px;

	background-color: var(--dark20);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main, header, footer, aside {
	font-family: var(--font-gilroy-light);
}

:root {
	--white: #FFFFFF;
	--gray40: #7E7E81;
	--gray50: #666666;
	--gray60: #98989A;
	--dark20: #141414;
	--dark10: #1A1A1A;
	--dark00: #333333;
	
	--primary: #FFD11A;
	--primary-hover: #fffc3c;
}